@model IndexListeningViewModel
@{
    ViewBag.Title = "Home Page";
}
<div>
    <div class="text-center  mb-4">
    <a asp-controller="Goods" asp-action="All">See All Goods</a>
    </div>
    <h3 class="text-center mb-4">New Arival</h3>
    <div class="row">
        @foreach (var goods in Model.Goods)
        {
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card">
                    <img src="@goods.ImageUrl" class="card-img-top" alt="@goods.Title">
                    <div class="card-body text-center">
                        <h5 class="card-title text-center">@goods.Title</h5>
                        <a asp-controller="Goods" asp-action="Details" asp-route-id="@goods.Id" class="btn btn-primary">View More</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
