@model IEnumerable<GoodsServiceModel>
@{
    ViewBag.Title = "Home Page";
}
<div>
    <div class="text-center  mb-4">
    <a asp-controller="Goods" asp-action="All">See All Goods</a>
    </div>
    <h3 class="text-center mb-4">New Arival</h3>
    <partial name="_AllGoodsPartial" />
</div>
