@model IEnumerable<GoodsServiceModel>
@{
    ViewBag.Title = "My Goods";
    ViewBag.AllawGoodsEdit = true;
}
<div>
    <h3 class="text-center mb-4">@ViewBag.Title</h3>
    <partial name="_AllGoodsPartial" />
</div>
