@model IEnumerable<GoodsServiceModel>
@{
    ViewBag.Title = "My Goods";
    ViewBag.AllawGoodsEdit = true;
}
<div>
    <h3 class="text-center mb-4">@ViewBag.Title</h3>
    @if (!Model.Any())
    {
        <h2 class="text-center mb-4">You do not have Goods!</h2>
    }
    else
    {
        <partial name="_AllGoodsPartial" />
    }

</div>
