@{
    ViewBag.Title = "Index Page";
}

<h3 class="text-center mb-4">Welcome to the Home Admin @ViewBag.Title</h3>
<a class="text-dark" asp-area="Admin" asp-controller="Goods" asp-action="All">All Goods</a>